name: eritv_app
description: A Flutter app for Eritv live TV streaming
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.1.0
  video_player: ^2.8.1
  chewie: ^1.7.4
  flutter_spinkit: ^5.2.0
  shared_preferences: ^2.2.2
  intl: ^0.18.1
  wakelock_plus: ^1.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
